@import "_normalize.less";

// Fonts

@font-face {
  font-family : "Gilroy";
  src         : url("../fonts/gilroy-extrabold.woff2") format("woff2"),
  url("../fonts/gilroy-extrabold.woff") format("woff");
  font-weight : 800;
  font-style  : normal;
}

@font-face {
  font-family : "Gilroy";
  src         : url("../fonts/gilroy-light.woff2") format("woff2"),
  url("../fonts/gilroy-light.woff") format("woff");
  font-weight : 300;
  font-style  : normal;
}

@font-face {
  font-family : "Open Sans";
  src         : url("../fonts/opensans-light.woff2") format("woff2"),
  url("../fonts/opensans-light.woff") format("woff");
  font-weight : 300;
  font-style  : normal;
}

@font-face {
  font-family : "Open Sans";
  src         : url("../fonts/opensans-regular.woff2") format("woff2"),
  url("../fonts/opensans-regular.woff") format("woff");
  font-weight : 400;
  font-style  : normal;
}

// Variables

@main-orange--half : rgba(240, 197, 46, 0.5);
@main-orange : rgba(240, 197, 46, 1);
@button-orange : #f7e184;
@opensans : "Open Sans", Arial, sans-serif;
@gilroy : "Gilroy", Arial, sans-serif;

// Mixins

.text-main(@_font-family, @_font-weight, @_font-size, @_line-height, @_letter-spacing) {
  font-family    : @_font-family;
  font-weight    : @_font-weight;
  font-size      : @_font-size;
  line-height    : @_line-height;
  letter-spacing : @_letter-spacing;
}

.icon(@_name-icon, @_width-icon, @_height-icon) {
  display             : inline-block;

  width               : @_width-icon;
  height              : @_height-icon;

  content             : "";

  background-image    : url("../img/@{_name-icon}");
  background-repeat   : no-repeat;
  background-position : center;
}

.flexbox() {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
}

.transition(@_property, @_time) {
  -webkit-transition : @_property @_time;
  -o-transition      : @_property @_time;
  transition         : @_property @_time;
}

.transform(@_value) {
  -webkit-transform : @_value;
  -ms-transform     : @_value;
  transform         : @_value;
}

.outline() {
  outline          : 2px solid black;
  background-color : rgba(0, 0, 0, 0.05) !important;
}

.grayscale(@_grayscale) {
  -webkit-filter : grayscale(@_grayscale);
  -moz-filter    : grayscale(@_grayscale);
  -ms-filter     : grayscale(@_grayscale);
  -o-filter      : grayscale(@_grayscale);
  filter         : grayscale(@_grayscale);
}

// Styles

// Tags Styles

html {
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  min-width          : 1200px;
}

*, *::before, *::after {
  box-sizing : inherit;
}

a {
  text-decoration : none;
  color           : black;
  .transition(all, 0.3s);
}

p {
  .text-main(@opensans, 300, 15px, 30px, 0.15px);
  color : #464646;
}

// Visually Hidden

.visually-hidden {
  position : absolute;
  width    : 1px;
  height   : 1px;
  margin   : -1px;
  border   : 0;
  padding  : 0;
  clip     : rect(0 0 0 0);
  overflow : hidden;
}

//Wrapper

.center-wrapper {
  width   : 1200px;

  margin  : 0 auto;
  padding : 0 20px;
}

.header-page-wrapper {
  background-image : -webkit-gradient(linear, left top, right top, color-stop(50%, #d9d9d9), color-stop(50%, #ebebeb));
  background-image : -webkit-linear-gradient(left, #d9d9d9 50%, #ebebeb 50%);
  background-image : -o-linear-gradient(left, #d9d9d9 50%, #ebebeb 50%);
  background-image : linear-gradient(to right, #d9d9d9 50%, #ebebeb 50%);
}

.main-page-wrapper {
  background-image : -webkit-gradient(linear, left top, right top, color-stop(50%, #ebebeb), color-stop(50%, #ffffff));
  background-image : -webkit-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
  background-image : -o-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
  background-image : linear-gradient(to right, #ebebeb 50%, #ffffff 50%);
}

.footer-wrapper {
  background-color : #464646;
}

// Flex

.flex {
  .flexbox();
}

// Button

.button {

  display        : block;

  padding        : 11px 0;

  position       : relative;
  z-index        : 1;

  .text-main(@gilroy, 800, 18px, 18px, 3.6px);
  text-transform : uppercase;
  text-align     : center;
  vertical-align : baseline;

  cursor         : pointer;

  &:active {
    color : rgba(0, 0, 0, 0.3);
  }

  &::before {

    display          : block;

    width            : 100%;
    height           : 20%;

    position         : absolute;
    top              : 50%;
    z-index          : -1;

    .transform(translateY(-50%));

    content          : "";

    background-color : @main-orange;

    .transition(all, 0.3s);
  }

  &:hover,
  &:focus {
    background-color : transparent;
  }

  &:hover::before,
  &:focus::before {
    height : 100%;
  }

  &:active {
    background-color : transparent;
  }

}

// Title

.title {
  margin : 0;

  .text-main(@gilroy, 800, 47px, 56px, 0.47px);
}

// Navigations

.user-navigation,
.catalog-navigation__list,
.site-navigation__list {
  margin     : 0;
  padding    : 0;

  list-style : none;
}

// User Navigation

.user-navigation {

  .flexbox();
  flex-wrap       : wrap;
  justify-content : space-between;

  .text-main(@opensans, 300, 15px, 30px, 0.2px);

  svg {
    margin-right : 10px;
  }

  &__item {
    flex-shrink : 0;
    margin-left : 35px;
  }

  &__item:last-child {
    margin-right : auto;
  }

  &__login {
    flex-grow : 1;
  }

  &__quit {
    position : relative;
    right    : 20px;

    opacity  : 0.3;
  }
}

// Catalog Navigation

.catalog-navigation {

  &__link::after {
    position : relative;
    left     : 12px;
    top      : 1px;

    .icon("plus.svg", 16px, 16px);

    opacity  : 0.3;
  }

  &__list {
    display          : none;

    width            : 1160px;
    min-height       : 163.5px;

    padding          : 0 0 36.5px 60px;

    position         : absolute;
    left             : -60px;
    z-index          : 5;

    background-color : #f7e296;
    .text-main(@opensans, 300, 15px, 36px, 0.15px);
    text-transform   : none;
  }

  &__item {
    margin-right : 77px;
  }

  &__item:first-child {
    margin-right : 58px;
  }

  &__link:hover + &__list,
  &__link:focus + &__list {
    .flexbox();
  }

  &__list:hover,
  &__list:focus {
    .flexbox();
  }

  &__watch-list,
  &__hand-list,
  &__shoot-list {
    margin     : 19px 0 0 0;
    padding    : 0;

    list-style : none;
  }

  a[href]:hover,
  a[href]:focus {
    opacity : 0.6;
  }

  a[href]:active {
    opacity : 0.3;
  }
}

// Site Navigation

.site-navigation {

  .text-main(@gilroy, 800, 18px, 24px, 3.6px);
  text-transform : uppercase;

  a[href]:hover,
  a[href]:focus {
    opacity : 0.6;
  }

  a[href]:active {
    opacity : 0.3;
  }

  &__list {
    .flexbox();
    justify-content : space-between;
    flex-wrap       : wrap;

    margin          : 0;
    padding         : 0;
  }

  &__item {
    margin-bottom : 15px;
    margin-left   : 33px;
  }

  &__item:last-child {
    margin-right : auto;
  }
}

// Site Blocks

// Site Header

.site-header {

  .flexbox();
  flex-direction   : column;
  justify-content  : space-between;

  width            : 1160px;

  padding          : 21px 60px 0 60px;

  background-image : -webkit-linear-gradient(top, white 40px, @main-orange--half 40px);
  background-image : -o-linear-gradient(top, white 40px, @main-orange--half 40px);
  background-image : linear-gradient(to bottom, white 40px, @main-orange--half 40px);

  &__main-logo {
    width         : 163px;

    margin-bottom : 12.5px;
  }

  &__container {
    .flexbox();

    margin-bottom : 30px;
  }

  &__user-navigation {

    width        : 535px;

    margin-top   : 10.5px;
    padding-left : 0;

    a:hover,
    a:focus {
      opacity : 0.6;
    }

    a:active {
      opacity : 0.3;
    }
  }

  &__site-navigation {
    .flexbox();

    margin-bottom : 36px;
  }

  .catalog-navigation {
    width       : 505px;

    flex-shrink : 0;

    position    : relative;
  }

  .site-navigation__list {
    width : 100%;
  }

  .site-navigation__item:nth-child(3n+2) {
    flex-grow : 1;
  }
}

// Site Main

.site-main {

  &__bread-list {

    margin     : 0;
    padding    : 0;

    list-style : none;

    a {
      .text-main(@opensans, 300, 14px, 24px, 0.14px);

      opacity : 0.3;
    }

    a[href]:hover,
    a[href]:focus {
      opacity : 0.6;
    }

    a[href]:active {
      opacity : 0.1;
    }
  }

  @bread-margin : 30px;

  &__bread-item {
    display      : inline;

    margin-right : @bread-margin;
  }

  &__bread-item::after {
    position : relative;
    left     : calc(@bread-margin / 2);

    .icon("nav-arrow.svg", 4px, 7px);
  }

  &__bread-item:last-child::after {
    content : none;
  }

  &__row {
    .flexbox();
    justify-content : space-between;

    padding         : 138px 0 80px 0;
  }

  &__page-information {
    padding : 32px 61px 45px;
  }

  &__title {
    margin-bottom : 20px;
  }
}

// Site Footer

.site-footer {

  .flexbox();
  flex-direction : column;

  width          : 1160px;

  padding        : 65px 0 67px 0;

  position       : relative;

  &::after {
    width            : 80px;
    height           : 7px;

    position         : absolute;
    left             : 0;
    bottom           : 85px;

    content          : "";

    background-color : #ffc600;
  }

  &__column {
    .flexbox();
    justify-content : space-between;
  }

  &__column-1 {
    margin-bottom : 28px;
  }

  &__column-2 {
    align-items   : flex-start;

    margin-bottom : 49px;
  }

  &__column-3 {
    width      : 793px;

    align-self : flex-end;
  }

  &__user-navigation {
    max-width : 825px;
  }

  &__user-navigation a {
    color : rgba(255, 255, 255, 0.7);
  }

  &__user-navigation a:hover,
  &__user-navigation a:focus {
    color : rgb(255, 255, 255);
  }

  &__user-navigation a:hover svg,
  &__user-navigation a:focus svg {
    opacity : 0.6;
  }

  &__user-navigation a:active {
    opacity : 0.3;
  }

  .site-navigation__list {
    width  : 470px;

    margin : 5px 0 0 -10px;
  }

  .site-navigation__list a {
    color : white;
  }

  address {
    width      : 300px;

    .text-main(@opensans, 300, 15px, 30px, 0.15px);
    color      : white;
    font-style : normal;
  }

  &__main-logo {
    fill : #ffc600;
  }

  .phone {
    width      : 320px;
    text-align : right;

    .text-main(@opensans, 300, 15px, 30px, 0.15px);
    color      : white;
  }

  &__social-list {
    .flexbox();
    justify-content : center;

    width           : 430px;

    margin          : 0;
    padding         : 0;

    list-style      : none;

    a {
      opacity : 0.3;
    }

    a:hover,
    a:focus {
      opacity : 0.6;
    }

    a:active {
      opacity : 0.1;
    }
  }

  &__social-item {
    margin-right : 23px;
  }

  &__social-item:last-child {
    margin-right : 0;
  }

  .html-academy-logo:hover,
  .html-academy-logo:focus {
    opacity : 0.6;
  }

  .html-academy-logo:active {
    opacity : 0.3;
  }

  svg {
    fill : #ffc600;
  }
}

// Main Logo

.main-logo[href]:hover,
.main-logo[href]:focus {
  opacity : 0.6;
}

.main-logo[href]:active {
  opacity : 0.3;
}

// Search Form

.search-form {

  width        : 444px;
  height       : 50px;

  margin-right : 61px;

  position: relative;

  label::before {
    position : relative;
    left     : 5px;
    top      : 3px;

    .icon("search.svg", 16px, 16px);
  }

  &__field {
    width            : 345px;
    height           : 47px;

    margin-left      : -20px;
    padding-left     : 40px;

    border           : none;

    background-color : transparent;
    .text-main(@opensans, 300, 15px, 30px, 0.15px);

    opacity          : 0.3;
  }

  &__field:hover {
    opacity : 0.6;
  }

  &__field:focus {
    opacity : 1;
    outline : none;
  }

  &__field:focus {
    border-bottom : 2px solid black;
  }

  &__button {
    visibility       : hidden;

    width            : 85px;

    position         : absolute;
    right            : 15px;
    top: -5px;

    padding          : 9px 0 9px 0;

    background-color : transparent;
    .text-main(@opensans, 300, 15px, 30px, 0.15px);
  }

  &__button:hover,
  &__button:focus {
    visibility       : visible;

    background-color : black;
    color            : white;

    outline          : none;
    border           : none;
  }

  &__field:focus + &__button {
    visibility : visible;
    border     : 2px solid black;
  }

  &:focus-within &__button {
    visibility : visible;
  }

  &__button:active {
    background-color : black;
    color            : rgba(255, 255, 255, 0.3);
  }
}

// Site Components

// Goods

// Animations

@keyframes line-move {
  0% {
    width : 0;
  }

  100% {
    width : 100px;
  }
}

@keyframes figures-move {
  0% {
    transform : translateY(100px);
  }

  100% {
    transform : translateY(0);
  }
}

.goods {

  width    : 1160px;

  margin   : 0 0 105px 0;

  position : relative;

  &__list {
    margin     : 0;
    padding    : 0;

    list-style : none;
  }

  &__item {
    display          : none;

    padding          : 0 60px 0 10px;

    position         : relative;

    background-image : -webkit-linear-gradient(top, @main-orange--half 113px, white 113px);
    background-image : -o-linear-gradient(top, @main-orange--half 113px, white 113px);
    background-image : linear-gradient(to bottom, @main-orange--half 113px, white 113px);
  }

  &__item--show {
    .flexbox();
  }

  &__item::before {
    position           : absolute;
    left               : 942px;
    top                : -12px;
    z-index            : 1;

    .text-main(@gilroy, 800, 179px, 179px, 1.79px);
    color              : white;

    animation-name     : figures-move;
    animation-duration : 1s;
  }

  &__item:first-child::before {
    content : '01';
  }

  &__item:nth-child(2)::before {
    content : '02';
  }

  &__item:nth-child(3)::before {
    content : '03';
  }

  &__item::after {
    width              : 100px;
    height             : 7px;

    position           : absolute;
    right              : 460px;
    top                : 38px;

    content            : "";

    background-color   : white;

    animation-name     : line-move;
    animation-duration : 1s;
  }

  &__img-container {
    .flexbox();
    justify-content : center;
    align-self      : flex-start;
    flex-shrink     : 0;

    width           : 526px;

    margin-right    : 44px;
  }

  &__container {
    .flexbox();
    flex-direction : column;

    width          : 100%;

    margin         : 80px 15px 0 0;
  }

  &__title {
    display       : block;

    margin-bottom : 5px;

    position      : relative;
    z-index       : 2;
  }

  p {
    margin-bottom : auto;

    z-index       : 2;
  }

  &__button {
    width         : 220px;

    margin-top    : 51px;
    margin-bottom : 45px;
  }

  &__button:hover,
  &__button:focus {
    background-color : transparent;

    outline          : none;
  }

  &__button:active {
    background-color : transparent;
  }

  th {
    padding : 5px 78px 0 0;

    .text-main(@opensans, 300, 13px, 20px, 0.13px);
    color   : #464646;
  }

  td {
    .text-main(@gilroy, 300, 36px, 48px, 0.36px);
  }

  &__slider-list {
    .flexbox();

    list-style : none;

    margin     : 0;
    padding    : 0;

    position   : absolute;
    right      : 82px;
    bottom     : 134px;
  }

  &__slider-item {
    margin-right : 21px;
  }

  &__slider-item:last-child {
    margin-right : 0;
  }

  &__slider-button::before {
    .icon("goods-button-empty.png", 12px, 12px);
  }

  &__slider-button--active::before {
    .icon("goods-button-active.png", 12px, 12px);
  }
}

// Categories

.categories {

  width         : 1160px;

  margin-bottom : 120px;

  &__logo {
    .flexbox();
    justify-content  : center;
    align-items      : center;

    width            : 160px;
    height           : 160px;

    margin-bottom    : 35px;

    background-color : @main-orange--half;
  }

  &__monopods-item &__logo {
    align-items : flex-end;
  }

  &__item a:focus {
    outline : none;
  }

  &__item a:hover &__logo,
  &__item a:focus &__logo {
    background-color : @main-orange;
  }

  &__item a:active img {
    opacity : 0.3;
  }

  &__item a:active {
    opacity : 0.5;
    .transition(all, 0s);
  }

  &__list {
    .flexbox();
    flex-wrap       : wrap;
    justify-content : flex-start;

    margin          : 0;
    padding         : 0;

    list-style      : none;

    .text-main(@gilroy, 800, 18px, 24px, 0.18px);
  }

  &__item {
    width  : 160px;
    margin : 0 40px 20px 0;
  }

  &__item:nth-child(6n) {
    margin-right : 0;
  }

  a {
    width : 160px;
  }
}

// Services

// Animations

@keyframes side-move {
  0% {
    transform : translateX(-400px);
    width     : 0;
  }

  100% {
    transform : translateX(0);
    width     : 100%;
  }
}

.services {

  margin-bottom    : 95px;

  @gradient-position : 42px;

  background-image : -webkit-linear-gradient(top, white @gradient-position, #e5e5e5 @gradient-position);
  background-image : -o-linear-gradient(top, white @gradient-position, #e5e5e5 @gradient-position);
  background-image : linear-gradient(to bottom, white @gradient-position, #e5e5e5 @gradient-position);

  &__slider-list {
    width            : 438px;

    margin           : 0;
    padding          : 20px 0 0 0;

    position         : relative;

    list-style       : none;

    .text-main(@gilroy, 800, 18px, 24px, 3.6px);
    text-align       : center;

    background-image : -webkit-linear-gradient(top, white @gradient-position, #e5e5e5 @gradient-position);
    background-image : -o-linear-gradient(top, white @gradient-position, #e5e5e5 @gradient-position);
    background-image : linear-gradient(to bottom, white @gradient-position, #e5e5e5 @gradient-position);

    z-index          : 2;
  }

  &__slider-list::after {
    width            : 7px;
    height           : calc(100% + 10px);

    position         : absolute;
    right            : -6px;
    top              : -80px;

    content          : "";

    background-color : black;
  }

  &__slider-item {
    margin-bottom : 25px;
  }

  &__slider-item:last-child {
    margin-bottom : 140px;
  }

  &__slider-button {
    width : 160px;
  }

  &__slider-button:focus {
    outline : none;
  }

  &__slider-button:active {
    color : @button-orange;
  }

  &__slider-button--active {
    color  : @button-orange;

    cursor : default;
  }

  &__slider-button--active::before {
    width              : 278px;
    height             : 40px;

    background-color   : black;

    -webkit-transition : width 1s, background-color 0.3s;
    -o-transition      : width 1s, background-color 0.3s;
    transition         : width 1s, background-color 0.3s;
  }

  &__features-list {
    width      : 100%;

    margin     : 0 0 0 122px;
    padding    : 12px 60px 120px 0;

    position   : relative;

    list-style : none;
  }

  &__features-item {
    margin            : 0;
    padding-bottom    : 10px;

    background-repeat : no-repeat;

    overflow          : hidden;
  }

  &__features-item:nth-child(1) {
    display             : none;

    background-image    : url("../img/delivery.svg");
    background-position : 100% 15px;
  }

  &__features-item:nth-child(2) {
    display             : none;

    background-image    : url("../img/warranty.svg");
    background-position : right top;
  }

  &__features-item:nth-child(3) {
    display             : none;

    background-image    : url("../img/credit.svg");
    background-position : right top;
  }

  &__features-list &__features-item--show {
    display            : block;

    animation-name     : side-move;
    animation-duration : 1s;
  }

  &__title {
    margin-bottom : 25px;
  }

  p {
    width : 436px;
  }
}

// Companies

.companies {

  &__list {
    .flexbox();
    flex-wrap  : wrap;

    margin     : 0;
    padding    : 0;

    list-style : none;
  }

  &__item {
    margin-right : 40px;
  }

  &__item:nth-child(4n) {
    margin-right : 0;
  }

  &__item:last-child {
    margin-right : auto;
  }

  &__item a {
    .grayscale(100%);
    opacity : 0.2;
  }

  &__item a:hover,
  &__item a:focus {
    -webkit-filter : none;
    filter         : none;
    opacity        : 1;

    outline        : none;
  }
}

// About Us

.about-us {

  .flexbox();
  flex-direction : column;

  width          : 500px;

  position       : relative;

  &::after {
    width            : 80px;
    height           : 7px;

    position         : absolute;
    left             : 0;
    top              : -49px;

    content          : "";

    background-color : black;
  }

  &__list {
    margin          : 50px 0 54px -12px;

    list-style-type : none;

    .text-main(@gilroy, 800, 16px, 40px, 0);
  }

  &__title {
    margin-bottom : 22px;
  }

  p {
    width         : 490px;

    margin-bottom : 17px;
  }

  &__item::before {
    position : relative;
    left     : -24px;

    .icon("slider-button.png", 8px, 8px);
  }

  &__button {
    width      : 260px;

    margin-top : auto;
  }

  &__button:focus {
    outline : none;
  }
}

//Contacts

.contacts {

  .flexbox();
  flex-direction : column;

  width          : 560px;

  position       : relative;

  &::after {
    width            : 80px;
    height           : 7px;

    position         : absolute;
    left             : 0;
    top              : -49px;

    content          : "";

    background-color : black;
  }

  &__title {
    margin-bottom : 22px;
  }

  p {
    margin-bottom : 40px;
  }

  &__map {
    margin-bottom : 40px;
  }

  &__button {
    width      : 260px;

    margin-top : auto;
  }

  &__button:focus {
    outline : none;
  }
}

// Filters Title

.filters-title {
  .flexbox();
  align-items      : center;

  width            : 328px;

  padding-left     : 62px;

  background-color : #d9d9d9;
  .text-main(@gilroy, 800, 16px, 24px, 3.2px);
  text-transform   : uppercase;
}

// Filters

.filters {

  background-color : #ebebeb;

  &__form {

    width   : 328px;

    padding : 70px 68px 30px 60px;

    fieldset {
      position     : relative;

      margin-left  : 0;
      margin-right : 0;
      margin-top   : 0;
      padding      : 0;

      border       : none;
    }

    legend {
      width            : 100%;

      padding-top      : 10px;

      border           : 0px solid black;
      border-top-width : 2px;

      .text-main(@gilroy, 800, 18px, 24px, 0.18px);
    }

    label {
      .text-main(@opensans, 300, 14px, 40px, 0.14px);
    }
  }

  &__checkbox {
    display : none;
  }

  &__checkbox + label {
    display      : block;

    padding-left : 38px;

    position     : relative;

    cursor       : pointer;
  }

  &__checkbox[disabled]:hover + label,
  &__checkbox[disabled]:focus + label {
    cursor : default;
  }

  &__checkbox + label::before {
    position            : absolute;
    left                : 0;
    top                 : 7px;

    .icon("checkbox-off.svg", 27px, 23px);
    background-position : left top;

    .transition(opacity, 0.3s);
    .transition(transform, 0.3s);
  }

  input:hover + label::before,
  input:focus + label::before {
    opacity : 0.6;
  }

  &__checkbox:checked + label::before {
    .icon("checkbox-on.svg", 27px, 23px);
    background-position : left top;

    .transform(rotate(360deg));
  }

  &__radio {
    display : none;
  }

  &__radio + label {
    display      : block;

    padding-left : 38px;

    position     : relative;

    cursor       : pointer;
  }

  &__radio + label::before {
    position : absolute;
    left     : 0;
    top      : 7px;

    .icon("radio-off.svg", 25px, 25px);
  }

  &__radio:hover + label::before,
  &__radio:focus + label::before {
    .icon("radio-on.svg", 25px, 25px);
  }

  &__radio[disabled]:hover + label::before,
  &__radio[disabled]:focus + label::before {
    .icon("radio-off.svg", 25px, 25px);
    cursor : default;
  }

  &__radio[disabled]:hover + label,
  &__radio[disabled]:focus + label {
    cursor : default;
  }

  &__radio:checked + label::before {
    .icon("radio-on.svg", 25px, 25px);
  }

  input[disabled] + label {
    color : #a6a6a6;
  }

  input[disabled] + label::before {
    opacity : 0.25;
  }

  &__color-list,
  &__bluetooth-list {
    margin     : 0;
    padding    : 0;

    list-style : none;
  }

  &__cost {
    margin-bottom : 30px;

    legend {
      margin-bottom : 25px;
    }
  }

  &__range-filter {
    margin-left : -5px;
  }

  &__range-controls {
    position : relative;

    padding  : 10px;
  }

  &__scale {
    height           : 2px;

    background-color : #dbdbdb;
  }

  &__bar {
    width            : 100%;
    height           : 2px;

    position         : relative;

    background-color : #91c92f;
  }

  &__toggle {
    width               : 20px;
    height              : 24px;

    position            : absolute;
    top                 : 0;

    background-image    : url("../img/filter-button.svg");
    background-repeat   : no-repeat;
    background-position : center;

    cursor              : pointer;
  }

  &__toggle:active {
    .transform(scale(1.2));
  }

  &__toggle--min {
    left : 0;
  }

  &__toggle--max {
    left : 175px;
  }

  &__price-controls {

    .flexbox();

    padding-left : 4px;

    opacity      : 0.2;

    label {

      width : 45%;

      .text-main(@gilroy, 300, 14px, 24px, normal);
    }

    input {
      width            : 60px;

      background-color : transparent;

      border           : none;
    }
  }

  &__colors {

    margin-bottom : 33px;

    legend {
      margin-bottom : 18px;
    }
  }

  &__bluetooth {

    margin-bottom : 30px;

    legend {
      margin-bottom : 18px;
    }
  }

  &__button {
    width            : 200px;

    border           : none;

    background-color : transparent;
  }

  &__button:focus {
    outline : none;
  }
}

// Sorting

.sorting {

  .flexbox();
  justify-content  : space-between;
  align-items      : center;

  width            : 832px;

  padding          : 24px 0 24px 73px;

  background-color : #ebebeb;

  &__title {
    margin-right   : 55px;

    .text-main(@gilroy, 800, 16px, 24px, 3.2px);
    text-transform : uppercase;

  }

  a {
    .text-main(@opensans, 400, 14px, 18px, 0);
    color : black;
  }

  &__type-list {
    .flexbox();
    flex-wrap  : wrap;

    margin     : 0 auto 0 0;
    padding    : 0;

    list-style : none;

    a[href] {
      opacity : 0.3;
    }

    a[href]:hover,
    a[href]:focus {
      opacity : 0.6;
    }

    a[href]:active {
      opacity : 1;
    }
  }

  &__type-item {
    margin-right : 28px;
  }

  &__course-list {
    flex-shrink : 0;
    margin      : 0;
    padding     : 0;

    list-style  : none;

    a[href] {
      opacity : 0.2;
    }

    a[href]:hover,
    a[href]:focus {
      opacity : 0.4;
    }

    a[href]:active {
      opacity : 1;
    }
  }

  &__course-item {
    display      : inline;

    margin-right : 15px;
  }

  &__course-item:last-child {
    margin-right : 0;
  }
}

// Cards

.cards {
  width            : 832px;

  padding          : 68px 0 78px 72px;

  background-color : white;

  &__list {
    .flexbox();
    flex-wrap       : wrap;
    justify-content : space-between;

    margin          : 0;
    padding         : 0;

    list-style      : none;
  }

  &__item {
    width         : 360px;

    margin-bottom : 46px;

    position      : relative;
  }

  &__information {
    .flexbox();
    justify-content : space-between;

    width           : 100%;

    margin-top      : 28px;
  }

  &__name {
    display : inline-block;

    width   : 260px;

    .text-main(@gilroy, 800, 18px, 24px, 0.18px);
  }

  &__price {
    .text-main(@gilroy, 300, 16px, 24px, 0.16px);
    color : #464646;
  }

  &__box:hover img,
  &__box:focus img {
    opacity : 0.7;
  }

  &__more {
    display    : none;

    position   : absolute;
    left       : 80px;
    top        : 184px;

    text-align : center;
  }

  &__img:hover + &__more,
  &__img:focus + &__more {
    display : block;
  }

  &__box:hover &__more,
  &__box:focus &__more,
  &__box:focus-within &__more {
    display : block;
  }

  &__button {
    width : 200px;
  }

  &__button:focus {
    outline : none;
  }

  &__more:hover,
  &__more:focus {
    display : block;
  }

  &__new {
    .flexbox();
    justify-content : center;
    align-items     : center;

    width           : 60px;
    height          : 60px;

    position        : absolute;
    right           : 28px;
    top             : 28px;

    border          : 2px solid rgba(0, 0, 0, 0.2);
    border-radius   : 50%;

    .text-main(@gilroy, 800, 14px, 24px, 0.7px);
    color           : rgba(0, 0, 0, 0.2);
    text-transform  : uppercase;
  }

  &__compare {
    .text-main(@opensans, 300, 13px, 36px, 0.13px);

    opacity : 0.5;
  }

  &__compare:hover,
  &__compare:focus {
    opacity : 1;
  }

  &__compare:active {
    opacity : 0.2;
  }

  &__navigation {
    .flexbox();
    justify-content  : space-between;
    align-items      : center;

    margin-top       : -12px;

    background-color : #ebebeb;
    .text-main(@gilroy, 800, 16px, 24px, 3.2px);
    text-transform   : uppercase;
  }

  &__navigation-list {
    .flexbox();

    margin     : 0;
    padding    : 0;

    list-style : none;
  }

  &__navigation-item {
    margin-right : 30px;
  }

  &__navigation-item:last-child {
    margin-right : 0;
  }

  &__navigation-item a[href] {
    opacity : 0.3;
  }

  &__navigation-item a[href]:hover,
  &__navigation-item a[href]:focus {
    opacity : 0.6;
  }

  &__navigation-item a[href]:active {
    opacity : 1;
  }

  &__navigation > a:first-of-type:hover,
  &__navigation > a:last-of-type:hover,
  &__navigation > a:first-of-type:focus,
  &__navigation > a:last-of-type:focus {
    background-color : #d9d9d9;
  }

  &__navigation > a:first-of-type,
  &__navigation > a:last-of-type {
    padding : 23px 30px 23px 30px;
  }

  &__navigation:first-of-type > a,
  &__navigation:last-of-type > a {
    opacity : 1;
  }

  &__navigation:first-of-type > a:hover,
  &__navigation:last-of-type > a:hover,
  &__navigation:first-of-type > a:focus,
  &__navigation:last-of-type > a:focus {
    opacity : 1;
  }

  &__navigation:first-of-type > a:active,
  &__navigation:last-of-type > a:active {
    opacity : 0.3;
  }

  &__navigation:first-of-type > a:not([href]),
  &__navigation:last-of-type > a:not([href]) {
    opacity          : 0.3;
    background-color : #ebebeb;
  }
}

// Modal Windows

// Animations

@keyframes bounce {
  0% {
    opacity   : 0;
    transform : translate3d(0px, -100%, 0px);
  }

  60% {
    opacity : 1;
  }

  100% {
    transform : none;
  }
}

@keyframes shake {
  0%,
  100% {
    transform : translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform : translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform : translateX(10px);
  }
}

// Modal Close

.modal__close-button {
  border           : 0;
  background-color : transparent;
  opacity          : 0.5;
}

.modal__close-button:hover,
.modal__close-button:focus {
  opacity : 1;
}

.modal__close-button:active {
  opacity : 0.3;
}

// Modal Wrapper

.modal-wrapper {
  display: none;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contact-us-wrapper {
  &--show {
    display: block;
  }
}

.modal-map-wrapper {
  &--show {
    display: block;
  }
}

// Modal Contact Us

.modal-contact-us {
  display          : none;

  width            : 960px;

  margin-left      : -480px;
  margin-top       : -276.5px;
  padding          : 95px 100px 77px;

  overflow         : hidden;

  background-color : white;

  &--show {
    display            : block;

    animation-name     : bounce;
    animation-duration : 1s;
  }

  &--invalid {
    animation-name     : shake;
    animation-duration : 0.6s;
  }

  &__form {

    .flexbox();
    flex-wrap : wrap;

    label {
      display       : block;

      margin-bottom : 7px;

      .text-main(@gilroy, 800, 18px, 24px, 0);
    }

  }

  &__input {
    width  : 360px;
    height : 50px;
  }

  &__textarea {
    width       : 760px;
    height      : 156px;

    padding-top : 15px;

    resize      : none;
  }

  &__input {
    padding : 0 20px 0 20px;
  }

  &__textarea {
    padding : 16px 20px 16px 20px;
  }

  &__input,
  &__textarea {
    background-color : #f2f2f2;
    .text-main(@opensans, 400, 14px, 18px, 0);
    color            : rgba(70, 70, 70, 0.4);

    border           : none;

    opacity          : 0.5;
  }

  &__input:hover,
  &__textarea:hover {
    background-color : #eaeaea;
  }

  &__input:focus,
  &__textarea:focus {
    background-color : white;
    color            : black;

    opacity          : 1;

    outline          : 3px solid #f0c52e;
  }

  &__input:valid,
  &__textarea:valid {
    color   : black;

    opacity : 1;
  }

  &__form &__input--invalid,
  &__form &__textarea--invalid,
  &__form &__input--invalid:hover,
  &__form &__textarea--invalid:hover,
  &__form &__input--invalid:focus,
  &__form &__textarea--invalid:focus {
    background-color : #f6dada;
  }

  &__name {
    margin-right  : 40px;
    margin-bottom : 32px;
  }

  &__send-button {
    width            : 200px;

    margin-top       : 38px;

    border           : none;

    background-color : transparent;
  }

  &__send-button:focus {
    outline : none;
  }
}

// Modal Map

.modal-map {

  display     : none;

  width       : 960px;
  height      : 560px;

  margin-left : -480px;
  margin-top  : -280px;

  img {
    width : 100%;
  }

  &--show {
    display            : block;

    animation-name     : bounce;
    animation-duration : 1s;
  }
}

// Modal

.modal {

  position   : fixed;
  top        : 50%;
  left       : 50%;
  z-index    : 100;

  box-shadow : 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

  &__close-button {
    position : absolute;

    top      : 22px;
    right    : 22px;

    .transition(all, 0.3s);
  }
}
