// Imports
@import "_normalize.less";

// Fonts

@font-face {
  font-family : "Gilroy";
  src         : url("../fonts/gilroy-extrabold.woff2") format("woff2"),
  url("../fonts/gilroy-extrabold.woff") format("woff");
  font-weight : 800;
  font-style  : normal;
}

@font-face {
  font-family : "Gilroy";
  src         : url("../fonts/gilroy-light.woff2") format("woff2"),
  url("../fonts/gilroy-light.woff") format("woff");
  font-weight : 300;
  font-style  : normal;
}

@font-face {
  font-family : "Open Sans";
  src         : url("../fonts/opensans-light.woff2") format("woff2"),
  url("../fonts/opensans-light.woff") format("woff");
  font-weight : 300;
  font-style  : normal;
}

@font-face {
  font-family : "Open Sans";
  src         : url("../fonts/opensans-regular.woff2") format("woff2"),
  url("../fonts/opensans-regular.woff") format("woff");
  font-weight : 400;
  font-style  : normal;
}

// Variables

@main-orange--half : rgba(240, 197, 46, 0.5);
@main-orange : rgba(240, 197, 46, 1);
@button-orange : #f7e184;
@opensans : "Open Sans", Arial, sans-serif;
@gilroy : "Gilroy", Arial, sans-serif;

// Mixins

.text-main(@_font-family, @_font-weight, @_font-size, @_line-height, @_letter-spacing) {
  font-family    : @_font-family;
  font-weight    : @_font-weight;
  font-size      : @_font-size;
  line-height    : @_line-height;
  letter-spacing : @_letter-spacing;
}

.icon(@_name-icon, @_width-icon, @_height-icon) {
  content             : "";
  background-image    : url("../img/@{_name-icon}");
  background-repeat   : no-repeat;
  background-position : center;
  width               : @_width-icon;
  height              : @_height-icon;
  display             : inline-block;
}

// Styles

// Tags Styles

html {
  box-sizing : border-box;
}

*, *::before, *::after {
  box-sizing : inherit;
}

a {
  text-decoration : none;
  color           : black;
  transition      : 0.3s;
}

p {
  .text-main(@opensans, 300, 15px, 30px, 0.15px);
  color : #464646;
}

// Visually Hidden

.visually-hidden {
  position : absolute;
  width    : 1px;
  height   : 1px;
  margin   : -1px;
  border   : 0;
  padding  : 0;
  clip     : rect(0 0 0 0);
  overflow : hidden;
}

// Site Blocks

// Site Header

.site-header {

  display          : flex;
  flex-direction   : column;
  justify-content  : space-between;

  width            : 1160px;

  padding          : 21px 61px 0 60px;

  background-image : linear-gradient(to bottom, white 40px, @main-orange--half 40px);

  &__main-logo {
    margin-bottom : 12.5px;
  }

  &__container {
    display         : flex;
    justify-content : space-between;
  }

  &__user-navigation {

    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;

    width           : 500px;

    padding-top     : 10.5px;
    padding-left    : 0;

    a:hover,
    a:focus {
      opacity : 0.6;
    }

    a:active {
      opacity : 0.3;
    }
  }

  &__site-navigation {

    width         : 1044px;

    margin-bottom : 51px;

    .site-navigation__list {
      display         : flex;
      justify-content : space-between;

      padding-top     : 30px;
      padding-left    : 0;
    }

    .site-navigation__item {
      margin-right : 35px;
    }

    .site-navigation__item:nth-child(2) {
      margin-left : 270px;
    }

    .site-navigation__item:nth-child(3) {
      flex-grow : 1;
    }

    .site-navigation__item:last-of-type {
      margin-right : 0;
    }
  }
}

// Site Main

.site-main {

  margin-top : -16px;

  &__bread-list {

    list-style : none;

    a {
      .text-main(@opensans, 300, 14px, 24px, 0.14px);
      opacity : 0.3;
    }

    a[href]:hover,
    a[href]:focus {
      opacity : 0.6;
    }

    a[href]:active {
      opacity : 0.1;
    }
  }

  &__bread-item {
    display : inline;
  }

  &__bread-item::after {
    .icon("nav-arrow.svg", 4px, 7px);
  }

  &__bread-item:last-child::after {
    content : none;
  }

  &__information {
    display         : flex;
    justify-content : space-between;

    padding-top     : 138px;
    padding-bottom  : 40px;
  }
}

// Site Footer

.site-footer {

  padding-top      : 65px;
  padding-bottom   : 67px;

  background-color : #464646;

  &__column {
    display         : flex;
    justify-content : space-between;
  }

  &__column-1 {
    margin-bottom : 13px;
  }

  &__column-2 {
    align-items   : baseline;

    margin-bottom : 50px;
  }

  &__column-3 {
    width      : 650px;

    align-self : flex-end;
  }

  .wrapper {
    display        : flex;
    flex-direction : column;
  }

  &__user-navigation {
    display : flex;
  }

  &__user-navigation a {
    color : rgba(255, 255, 255, 0.7);
  }

  &__user-navigation a:hover,
  &__user-navigation a:focus {
    color : rgb(255, 255, 255);
  }

  &__user-navigation a:hover svg,
  &__user-navigation a:focus svg {
    opacity : 0.6;
  }

  &__user-navigation a:active {
    opacity : 0.3;
  }

  .site-navigation__list {
    display         : flex;
    justify-content : space-between;

    margin          : 0;
    padding         : 0;

    position        : relative;
    left            : -18px;
    top             : 5px;
  }

  .site-navigation__item {
    margin-right : 33px;
  }

  .site-navigation__item:last-child {
    margin-right : 0;
  }

  &__site-navigation a {
    color : white;
  }

  address {
    .text-main(@opensans, 300, 15px, 30px, 0.15px);
    color      : white;
    font-style : normal;
  }

  &__main-logo {
    fill : #ffc600;
  }

  .phone {
    .text-main(@opensans, 300, 15px, 30px, 0.15px);
    color : white;
  }

  &__social-list {
    display    : flex;

    margin     : 0;
    padding    : 0;

    list-style : none;

    a {
      opacity : 0.3;
    }

    a:hover,
    a:focus {
      opacity : 0.6;
    }

    a:active {
      opacity : 0.1;
    }
  }

  &__social-item {
    margin-right : 23px;
  }

  &__social-item:last-child {
    margin-right : 0;
  }

  .html-academy-logo:hover,
  .html-academy-logo:focus {
    opacity : 0.6;
  }

  .html-academy-logo:active {
    opacity : 0.3;
  }

  svg {
    fill : #ffc600;
  }
}

//Wrapper

.wrapper {
  width   : 1200px;

  margin  : 0 auto;
  padding : 0 20px;
}

// Navigations

// User Navigation

.user-navigation,
.site-navigation__list,
.site-navigation__inner-list {
  margin     : 0;

  list-style : none;
}

.user-navigation {

  .text-main(@opensans, 300, 15px, 30px, 0.2px);

  svg {
    margin-right : 5px;
  }

  &__login {
    margin-left : 1px;
  }

  &__login svg {
    margin-right : 9px;
  }

  li[class*="user-navigation__"] {
    margin-right : 41px;
  }

  li[class*="user-navigation__"]:first-child {
    flex-grow : 1;
  }

  li[class*="user-navigation__"]:last-child {
    margin-right : 0;
  }

  &__quit {
    opacity : 0.3;
  }
}

// Site Navigation

.site-navigation {

  padding        : 0;

  .text-main(@gilroy, 800, 18px, 24px, 3.6px);
  text-transform : uppercase;

  &__catalog::after {
    position : relative;
    left     : 12px;
    top      : 1px;

    opacity  : 0.3;
    .icon("plus.svg", 16px, 16px);
  }

  a[href]:hover,
  a[href]:focus {
    opacity : 0.6;
  }

  a[href]:active {
    opacity : 0.3;
  }

  &__inner-list {
    display        : none;

    width          : 1040px;

    padding        : 0;

    position       : absolute;

    .text-main(@opensans, 300, 15px, 36px, 0.15px);
    text-transform : none;
  }

  &__inner-item {
    margin-right : 77px;
  }

  &__inner-item:first-child {
    margin-right : 58px;
  }

  &__catalog:hover + &__inner-list,
  &__catalog:focus + &__inner-list {
    display : flex;
  }

  &__inner-list:hover,
  &__inner-list:focus {
    display : flex;
  }

  &__basis {
    width  : 1px;
    height : 0;
  }

  &__item:first-child:hover ~ &__basis {
    height : 151px;
  }

  &__basis:hover {
    height : 151px;
  }

  &__watch-list,
  &__hand-list,
  &__shoot-list {
    margin     : 0;
    margin-top : 19px;
    padding    : 0;

    list-style : none;
  }
}

// Button

.button {
  display        : block;

  position       : relative;
  z-index        : 1;

  .text-main(@gilroy, 800, 18px, 40px, 3.6px);
  text-transform : uppercase;
  text-align     : center;
  vertical-align : middle;

  cursor         : pointer;
}

.button:active {
  color : rgba(0, 0, 0, 0.3);
}

.button::before {
  display          : block;

  width            : 100%;
  height           : 8px;

  position         : absolute;
  content          : "";
  top              : 15px;
  z-index          : -1;

  background-color : @main-orange;

  transition       : 0.3s;
}

.button:hover,
.button:focus {
  background-color : transparent;
}

.button:hover::before,
.button:focus::before {
  height : 100%;

  top    : 0;
}

.button:active {
  background-color : transparent;
}

// Title

.title {
  margin : 0;

  .text-main(@gilroy, 800, 47px, 56px, 0.47px);
}

// Main Logo

.main-logo[href]:hover,
.main-logo[href]:focus {
  opacity : 0.6;
}

.main-logo[href]:active {
  opacity : 0.3;
}

// Search Form

.search-form {

  width       : 441px;
  height      : 50px;

  margin-left : 3px;

  &::before {
    position : relative;
    top      : 3px;
    left     : 0.5px;

    .icon("search.svg", 16px, 16px);
  }

  &__field {
    width            : 317px;
    height           : 47px;

    margin-left      : 15px;

    .text-main(@opensans, 300, 15px, 30px, 0.15px);
    color            : rgba(0, 0, 0, 0.3);
    background-color : transparent;
    border           : none;
    outline          : none;
  }

  &__field:hover {
    color : rgba(0, 0, 0, 0.6);
  }

  &__field:focus {
    color : black;
  }

  &:focus-within {
    border-bottom : 2px solid black;
  }

  &__field:focus + &__button {
    visibility : visible;
  }

  &__button {
    width            : 85px;
    height           : 49px;

    visibility       : hidden;

    .text-main(@opensans, 300, 15px, 30px, 0.15px);
    background-color : transparent;
    border-left      : 2px solid black;
    border-top       : 2px solid black;
    border-right     : 2px solid black;
    border-bottom    : none;
  }

  &__button:hover,
  &__button:focus {
    visibility       : visible;

    background-color : black;
    color            : white;
  }

  &__button:active {
    background-color : black;
    color            : rgba(255, 255, 255, 0.3);
    outline          : 0;
  }
}

// Site Components

// Goods

.goods {
  width         : 1160px;

  margin        : 0;
  margin-bottom : 100px;

  &__list {
    padding         : 0;

    list-style-type : none;
    counter-reset   : num;
  }

  &__item {
    display          : flex;

    padding-left     : 31px;
    padding-right    : 80px;

    position         : relative;

    background-image : linear-gradient(to bottom, @main-orange--half 113px, white 113px);
  }

  &__item::before {
    position          : absolute;
    right             : 42px;
    top               : -12px;
    z-index           : 1;

    content           : '0' counter(num);
    counter-increment : num;

    .text-main(@gilroy, 800, 179px, 179px, 1.79px);
    color             : white;
  }

  &__item:nth-child(2),
  &__item:nth-child(3) {
    display : none;
  }

  &__img-container {
    flex-shrink  : 0;

    width        : 526px;

    margin-right : 42px;

    text-align   : center;
  }

  &__container {
    padding-top : 80px;
  }

  &__title {
    display       : block;

    margin-bottom : 20px;

    position      : relative;
    z-index       : 2;
  }

  &__item:nth-child(3) &__title {
    margin-bottom : 28px;
  }

  p {
    margin-bottom : 44px;
  }

  &__button {
    background-image : none;
    width            : 220px;
  }

  &__button:hover,
  &__button:focus {
    background-color : transparent;
  }

  &__button:active {
    background-color : transparent;
  }

  &__description {
    margin-top  : 53px;
    margin-left : -1px;
  }

  th {
    padding-right : 78px;
    padding-top   : 5px;

    .text-main(@opensans, 300, 13px, 20px, 0.13px);
    color         : #464646;
  }

  td {
    .text-main(@gilroy, 300, 36px, 48px, 0.36px);
  }
}

// Categories

.categories {

  width : 1160px;

  &__logo {
    display          : flex;
    justify-content  : center;
    align-items      : center;

    width            : 160px;
    height           : 160px;

    margin-bottom    : 39px;

    background-color : @main-orange--half;
  }

  &__logo:hover,
  &__logo:focus {
    background-color : @main-orange;
  }

  &__logo:active img {
    opacity : 0.5;
  }

  &__list {
    display         : flex;
    justify-content : space-between;

    padding         : 0;
    margin          : 0;

    list-style      : none;
    .text-main(@gilroy, 800, 18px, 24px, 0.18px);
  }

  &__item {
    width : 160px;
  }

  a {
    width : 160px;
  }
}

// Services

.services {

  background-image : linear-gradient(to bottom, white 100px, #e5e5e5 100px);

  .wrapper {
    display     : flex;

    padding-top : 135px;
  }

  &__button-list {
    padding    : 0;
    margin     : 0;
    margin-top : 23px;

    list-style : none;
    .text-main(@gilroy, 800, 18px, 24px, 3.6px);
    text-align : center;

  }

  &__button {
    width : 160px;
  }

  &__button_active {
    width            : 278px;

    padding-left     : 19px;

    background-color : black;
    text-align       : left;
  }

  &__button-item {
    margin-bottom : 25px;
  }

  &__button-item:last-child {
    margin-bottom : 0;
  }

  &__button:active {
    color : @button-orange;
  }

  &__button:active::before {
    background-color : black;
  }

  &__button_active {
    height           : 40px;

    color            : @button-orange;
    background-color : black;
  }

  &__button_active::before {
    display : none;
  }

  &__button_active:hover,
  &__button_active:focus {
    color            : @button-orange;
    background-color : black;
  }

  &__features-list {
    width          : 100%;

    margin         : 0;
    margin-left    : 123px;
    margin-top     : 12px;
    padding        : 0;
    padding-bottom : 120px;

    list-style     : none;
  }

  &__features-item {
    margin            : 0;
    padding-bottom    : 10px;

    background-repeat : no-repeat;
  }

  &__features-item:first-child {
    background-image    : url("../img/delivery.svg");
    background-position : right 15px;
  }

  &__features-item:nth-child(2) {
    display             : none;
    background-image    : url("../img/warranty.svg");
    background-position : right top;
  }

  &__features-item:nth-child(3) {
    display             : none;
    background-image    : url("../img/credit.svg");
    background-position : right top;

  }

  &__title {
    margin-bottom : 28px;
  }

  p {
    width : 436px;
  }
}

// Companies

.companies {

  &__list {
    display         : flex;
    justify-content : space-between;

    margin          : 0;
    margin-top      : 95px;
    padding         : 0;

    list-style      : none;
  }

  &__item a {
    filter  : grayscale(100%);
    opacity : 0.2;
  }

  &__item a:hover,
  &__item a:focus {
    filter  : none;
    opacity : 1;
  }
}

// About Us

.about-us {

  width : 500px;

  &__list {
    margin-top      : 68px;
    margin-left     : -12px;
    margin-bottom   : 55px;

    .text-main(@gilroy, 800, 16px, 40px, 0);
    list-style-type : none;
  }

  &__title {
    margin-bottom : 38px;
  }

  p {
    margin-bottom : 30px;
  }

  &__item::before {
    position : relative;
    left     : -24px;

    .icon("slider-button.png", 8px, 8px);
  }

  &__button {
    width : 260px;
  }
}

//Contacts

.contacts {

  width : 560px;

  &__title {
    margin-bottom : 38px;
  }

  p {
    margin-bottom : 40px;
  }

  &__button {
    width : 260px;
  }

  &__button::before {
    width : 100%;
  }

  img {
    margin-bottom : 50px;
  }
}

// Filters

.filters {

  h3 {
    .text-main(@gilroy, 800, 16px, 24px, 3.2px);
    text-transform : uppercase;
  }

  &__form {

    fieldset {
      border : none;
    }

    legend {
      .text-main(@gilroy, 800, 18px, 24px, 0.18px);
    }
  }

  &__color-list,
  &__bluetooth-list {
    list-style : none;
  }

  label {
    .text-main(@opensans, 300, 14px, 40px, 0.14px);
  }

  button {
    border : none;
  }
}

// Sorting

.sorting {

  h3 {
    .text-main(@gilroy, 800, 16px, 24px, 3.2px);
    text-transform : uppercase;
  }

  a {
    .text-main(@opensans, 400, 14px, 18px, 0);
    color : black;
  }

  &__type-list {

    list-style : none;

    a[href] {
      opacity : 0.3;
    }

    a[href]:hover,
    a[href]:focus {
      opacity : 0.6;
    }

    a[href]:active {
      opacity : 1;
    }
  }

  &__course-list {

    list-style : none;

    a[href] {
      opacity : 0.2;
    }

    a[href]:hover,
    a[href]:focus {
      opacity : 0.4;
    }

    a[href]:active {
      opacity : 1;
    }
  }
}

// Cards

.cards {

  &__list {
    list-style : none;
  }

  &__name {
    .text-main(@gilroy, 800, 18px, 24px, 0.18px);
  }

  &__price {
    .text-main(@gilroy, 300, 16px, 24px, 0.16px);
    color : #464646;
  }

  &__new {
    .text-main(@gilroy, 800, 14px, 24px, 0.7px);
    color          : rgba(0, 0, 0, 0.2);
    text-transform : uppercase;
  }

  &__compare {
    .text-main(@opensans, 300, 13px, 36px, 0.13px);
    opacity : 0.5;
  }

  &__compare:hover,
  &__compare:focus {
    opacity : 1;
  }

  &__compare:active {
    opacity : 0.2;
  }

  &__navigation-list {
    list-style : none;
    .text-main(@gilroy, 800, 16px, 24px, 3.2px);
  }

  &__navigation-item a[href] {
    opacity : 0.3;
  }

  &__navigation-item a[href]:hover,
  &__navigation-item a[href]:focus {
    opacity : 0.6;
  }

  &__navigation-item a[href]:active {
    opacity : 1;
  }

  &__navigation-item:first-child:hover,
  &__navigation-item:last-child:hover,
  &__navigation-item:first-child:focus,
  &__navigation-item:last-child:focus {
    background-color : #d9d9d9;
  }

  &__navigation-item:first-child a,
  &__navigation-item:last-child a {
    opacity : 1;
  }

  &__navigation-item:first-child a:hover,
  &__navigation-item:last-child a:hover,
  &__navigation-item:first-child a:focus,
  &__navigation-item:last-child a:focus {
    opacity : 1;
  }

  &__navigation-item:first-child a:active,
  &__navigation-item:last-child a:active {
    opacity : 0.3;
  }
}

// Modal Windows

// Modal Close

.modal__close-button {
  border           : 0;
  background-color : transparent;
  opacity          : 0.5;
}

.modal__close-button:hover,
.modal__close-button:focus {
  opacity : 1;
}

.modal__close-button:active {
  opacity : 0.3;
}

// Modal Contact Us

.modal-contact-us {
  display : none;

  &__form {
    label {
      .text-main(@gilroy, 800, 18px, 24px, 0);
    }

    input,
    textarea {
      .text-main(@opensans, 400, 14px, 18px, 0);
      color            : rgba(70, 70, 70, 0.4);
      background-color : #f2f2f2;
      border           : none;
      outline          : none;
    }

    input:hover,
    textarea:hover {
      background-color : #eaeaea;
    }

    input:focus,
    textarea:focus {
      background-color : white;
      outline          : 3px solid #f0c52e;
    }

    textarea {
      resize : none;
    }
  }

  &__send-button {
    border : none;
  }
}

.modal-map {
  display : none;
}
