html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-extrabold.woff2") format("woff2"), url("../fonts/gilroy-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-light.woff2") format("woff2"), url("../fonts/gilroy-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1200px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  outline-color: black;
}
a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.center-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header-page-wrapper {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #d9d9d9), color-stop(50%, #ebebeb));
  background-image: -webkit-linear-gradient(left, #d9d9d9 50%, #ebebeb 50%);
  background-image: -o-linear-gradient(left, #d9d9d9 50%, #ebebeb 50%);
  background-image: linear-gradient(to right, #d9d9d9 50%, #ebebeb 50%);
}
.main-page-wrapper {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ebebeb), color-stop(50%, #ffffff));
  background-image: -webkit-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
  background-image: -o-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
  background-image: linear-gradient(to right, #ebebeb 50%, #ffffff 50%);
}
.footer-wrapper {
  background-color: #464646;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button {
  display: block;
  padding: 11px 0;
  position: relative;
  z-index: 1;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
}
.button:active {
  color: rgba(0, 0, 0, 0.3);
}
.button::before {
  display: block;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 50%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  background-color: #f0c52e;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover,
.button:focus {
  background-color: transparent;
}
.button:hover::before,
.button:focus::before {
  height: 100%;
}
.button:active {
  background-color: transparent;
}
.title {
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
}
.user-navigation,
.catalog-navigation__list,
.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.user-navigation svg {
  margin-right: 10px;
}
.user-navigation__item {
  flex-shrink: 0;
  margin-left: 35px;
}
.user-navigation__item:last-child {
  margin-right: auto;
}
.user-navigation__login {
  flex-grow: 1;
}
.user-navigation__quit {
  flex-grow: 1;
  position: relative;
  right: 20px;
  opacity: 0.3;
}
.user-navigation__footer-link:hover svg,
.user-navigation__footer-link:focus svg {
  opacity: 0.6;
}
.catalog-navigation__link::after {
  position: relative;
  left: 12px;
  top: -5px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.catalog-navigation__list {
  display: none;
  width: 1160px;
  min-height: 163.5px;
  padding: 0 0 36.5px 60px;
  position: absolute;
  left: -60px;
  z-index: 5;
  background-color: #f7e296;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;
}
.catalog-navigation__item {
  margin-right: 77px;
}
.catalog-navigation__item:first-child {
  margin-right: 58px;
}
.catalog-navigation__link:hover + .catalog-navigation__list,
.catalog-navigation__link:focus + .catalog-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-navigation__list:hover,
.catalog-navigation__list:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-navigation__watch-list,
.catalog-navigation__hand-list,
.catalog-navigation__shoot-list {
  margin: 19px 0 0 0;
  padding: 0;
  list-style: none;
}
.catalog-navigation a[href]:hover,
.catalog-navigation a[href]:focus {
  opacity: 0.6;
}
.catalog-navigation a[href]:active {
  opacity: 0.3;
}
.site-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
  opacity: 0.6;
}
.site-navigation a[href]:active {
  opacity: 0.3;
}
.site-navigation__footer-link {
  color: white;
}
.site-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.site-navigation__item {
  margin-bottom: 15px;
  margin-left: 34px;
}
.site-navigation__item:last-child {
  margin-right: auto;
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
}
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1160px;
  padding: 21px 60px 0 60px;
  background-image: -webkit-linear-gradient(top, white 40px, rgba(240, 197, 46, 0.5) 40px);
  background-image: -o-linear-gradient(top, white 40px, rgba(240, 197, 46, 0.5) 40px);
  background-image: linear-gradient(to bottom, white 40px, rgba(240, 197, 46, 0.5) 40px);
}
.site-header__main-logo {
  width: 163px;
  margin-bottom: 12.5px;
}
.site-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.site-header__user-navigation {
  width: 535px;
  margin-top: 10.5px;
  padding-left: 0;
}
.site-header__user-navigation a:hover,
.site-header__user-navigation a:focus {
  opacity: 0.6;
}
.site-header__user-navigation a:active {
  opacity: 0.3;
}
.site-header__site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}
.site-header .catalog-navigation {
  width: 505px;
  flex-shrink: 0;
  position: relative;
}
.site-header .site-navigation__list {
  width: 100%;
}
.site-header .site-navigation__item:nth-child(3n+2) {
  flex-grow: 1;
}
.site-main__bread-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-main__bread-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  opacity: 0.3;
}
.site-main__bread-list a[href]:hover,
.site-main__bread-list a[href]:focus {
  opacity: 0.6;
}
.site-main__bread-list a[href]:active {
  opacity: 0.1;
}
.site-main__bread-item {
  display: inline;
  margin-right: 30px;
}
.site-main__bread-item::after {
  position: relative;
  left: calc(30px / 2);
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 7px;
  content: "";
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.site-main__bread-item:last-child::after {
  content: none;
}
.site-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 138px 0 82px 0;
}
.site-main__page-information {
  padding: 32px 61px 45px;
}
.site-main__title {
  margin-bottom: 20px;
}
.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 1160px;
  padding: 65px 0 67px 0;
}
.site-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.site-footer__column-1 {
  margin-bottom: 27px;
}
.site-footer__column-2 {
  align-items: flex-start;
  margin-bottom: 49px;
}
.site-footer__column-3 {
  width: 793px;
  align-self: flex-end;
  position: relative;
}
.site-footer__column-3::after {
  width: 80px;
  height: 7px;
  position: absolute;
  left: -365px;
  top: 12px;
  content: "";
  background-color: #ffc600;
}
.site-footer__user-navigation {
  max-width: 825px;
  margin-top: -1px;
}
.site-footer .user-navigation__login {
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}
.site-footer .user-navigation__quit {
  margin-left: 22px;
  right: 3px;
}
.site-footer__user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}
.site-footer__user-navigation a:hover,
.site-footer__user-navigation a:focus {
  color: #ffffff;
}
.site-footer__user-navigation a:active {
  opacity: 0.3;
}
.site-footer .site-navigation__list {
  width: 470px;
  margin: 6px 0 0 -10px;
}
.site-footer address {
  width: 300px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: white;
  font-style: normal;
}
.site-footer__main-logo {
  fill: #ffc600;
}
.site-footer .phone {
  width: 320px;
  text-align: right;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: white;
}
.site-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer__social-list a {
  opacity: 0.3;
}
.site-footer__social-list a:hover,
.site-footer__social-list a:focus {
  opacity: 0.6;
}
.site-footer__social-list a:active {
  opacity: 0.1;
}
.site-footer__social-item {
  margin-right: 23px;
  margin-bottom: 10px;
}
.site-footer__social-item:last-child {
  margin-right: 0;
}
.site-footer .html-academy-logo:hover,
.site-footer .html-academy-logo:focus {
  opacity: 0.6;
}
.site-footer .html-academy-logo:active {
  opacity: 0.3;
}
.site-footer svg {
  fill: #ffc600;
}
.main-logo[href]:hover,
.main-logo[href]:focus {
  opacity: 0.6;
}
.main-logo[href]:active {
  opacity: 0.3;
}
.search-form {
  width: 444px;
  height: 50px;
  margin-right: 61px;
  position: relative;
}
.search-form label::before {
  position: relative;
  left: 4px;
  top: 0px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.search-form__field {
  width: 345px;
  height: 47px;
  margin-left: -20px;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  opacity: 0.3;
}
.search-form__field:hover {
  opacity: 0.6;
}
.search-form__field:focus {
  opacity: 1;
  outline: none;
}
.search-form__field:focus {
  border-bottom-color: black;
}
.search-form__button {
  visibility: hidden;
  width: 85px;
  position: absolute;
  right: 15px;
  top: -5px;
  padding: 9px 0 9px 0;
  background-color: transparent;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.search-form__button:hover,
.search-form__button:focus {
  visibility: visible;
  background-color: black;
  color: white;
  outline: none;
  border: none;
}
.search-form__field:focus + .search-form__button {
  visibility: visible;
  border: 2px solid black;
}
.search-form:focus-within .search-form__button {
  visibility: visible;
}
.search-form__button:active {
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
}
@keyframes line-move {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}
@keyframes figures-move {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
.goods {
  width: 1160px;
  margin: 0 0 92px 0;
  position: relative;
}
.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.goods__item {
  display: none;
  padding: 0 35px 0 20px;
  position: relative;
  background-image: -webkit-linear-gradient(top, rgba(240, 197, 46, 0.5) 113px, white 113px);
  background-image: -o-linear-gradient(top, rgba(240, 197, 46, 0.5) 113px, white 113px);
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 113px, white 113px);
}
.goods__item--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.goods__item::before {
  position: absolute;
  left: 928px;
  top: -12px;
  z-index: 1;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: white;
  animation-name: figures-move;
  animation-duration: 1s;
}
.goods__item:nth-child(1)::before {
  content: "01";
}
.goods__item:nth-child(2)::before {
  content: "02";
}
.goods__item:nth-child(3)::before {
  content: "03";
}
.goods__item::after {
  width: 100px;
  height: 7px;
  position: absolute;
  right: 460px;
  top: 38px;
  content: "";
  background-color: white;
  animation-name: line-move;
  animation-duration: 1s;
}
.goods__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  flex-shrink: 0;
  width: 526px;
  margin-right: 55px;
}
.goods__img-container-fb {
  margin: 12px 50px 0 5px;
}
.goods__img-container-qc {
  margin: 65px 45px 0 10px;
}
.goods__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 80px 15px 0 0;
  padding-bottom: 20px;
}
.goods__title {
  display: block;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
}
.goods p {
  margin-bottom: auto;
  z-index: 2;
}
.goods__button {
  width: 220px;
  margin-top: 44px;
  margin-bottom: 45px;
}
.goods__button:hover,
.goods__button:focus {
  background-color: transparent;
  outline: none;
}
.goods__button:active {
  background-color: transparent;
}
.goods__description {
  margin-left: -3px;
}
.goods th {
  padding: 7px 25px 0 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}
.goods td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}
.goods__slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 82px;
  bottom: 156px;
}
.goods__slider-item {
  margin-right: 21px;
}
.goods__slider-item:last-child {
  margin-right: 0;
}
.goods__slider-button::before {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  content: "";
  background-image: url("../img/goods-button-empty.png");
  background-repeat: no-repeat;
  background-position: center;
}
.goods__slider-button--active::before {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  content: "";
  background-image: url("../img/goods-button-active.png");
  background-repeat: no-repeat;
  background-position: center;
}
.categories {
  width: 1160px;
  margin-bottom: 120px;
}
.categories__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  background-color: rgba(240, 197, 46, 0.5);
}
.categories__monopods-item .categories__logo {
  align-items: flex-end;
}
.categories__link:focus {
  outline: none;
}
.categories__link:hover .categories__logo,
.categories__link:focus .categories__logo {
  background-color: #f0c52e;
}
.categories__link:active img {
  opacity: 0.3;
}
.categories__link:active {
  opacity: 0.5;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.categories__item {
  width: 160px;
  margin: 0 40px 20px 0;
}
.categories__item:nth-child(6n) {
  margin-right: 0;
}
.categories a {
  width: 160px;
}
@keyframes side-move {
  0% {
    transform: translateX(-400px);
    width: 0;
  }
  100% {
    transform: translateX(0);
    width: 100%;
  }
}
.services {
  margin-bottom: 93px;
  background-image: -webkit-linear-gradient(top, white 40px, #e5e5e5 40px);
  background-image: -o-linear-gradient(top, white 40px, #e5e5e5 40px);
  background-image: linear-gradient(to bottom, white 40px, #e5e5e5 40px);
}
.services__slider-list {
  width: 438px;
  margin: 0;
  padding: 20px 0 0 0;
  position: relative;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  background-image: -webkit-linear-gradient(top, white 40px, #e5e5e5 40px);
  background-image: -o-linear-gradient(top, white 40px, #e5e5e5 40px);
  background-image: linear-gradient(to bottom, white 40px, #e5e5e5 40px);
  z-index: 2;
}
.services__slider-list::after {
  width: 7px;
  height: calc(100% - 10px);
  position: absolute;
  right: -4px;
  top: -60px;
  content: "";
  background-color: black;
}
.services__slider-item {
  margin-bottom: 25px;
}
.services__slider-item:last-child {
  margin-bottom: 139px;
}
.services__slider-button {
  width: 160px;
}
.services__slider-button:focus {
  outline: none;
}
.services__slider-button:active::before {
  width: 278px;
  height: 40px;
  background-color: black;
  -webkit-transition: width 1s, background-color 0.3s;
  -o-transition: width 1s, background-color 0.3s;
  transition: width 1s, background-color 0.3s;
}
.services__slider-button:active {
  color: #f7e184;
}
.services__slider-button--active {
  color: #f7e184;
  cursor: default;
}
.services__slider-button--active::before {
  width: 278px;
  height: 40px;
  background-color: black;
  -webkit-transition: width 1s, background-color 0.3s;
  -o-transition: width 1s, background-color 0.3s;
  transition: width 1s, background-color 0.3s;
}
.services__features-list {
  width: 100%;
  margin: 0 0 0 122px;
  padding: 0 50px 110px 0;
  position: relative;
  list-style: none;
}
.services__features-item {
  margin: 0;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  overflow: hidden;
}
.services__features-item:nth-child(1) {
  display: none;
  background-image: url("../img/delivery.svg");
  background-position: 97% 23px;
}
.services__features-item:nth-child(2) {
  display: none;
  background-image: url("../img/warranty.svg");
  background-position: 100% 0;
}
.services__features-item:nth-child(3) {
  display: none;
  background-image: url("../img/credit.svg");
  background-position: 96% top;
}
.services__features-list .services__features-item--show {
  display: block;
  animation-name: side-move;
  animation-duration: 1s;
}
.services__title {
  margin-top: 10px;
  margin-bottom: 25px;
}
.services p {
  width: 436px;
}
.companies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.companies__item {
  margin-right: 40px;
}
.companies__item:nth-child(4n) {
  margin-right: 0;
}
.companies__item:last-child {
  margin-right: auto;
}
.companies__item a {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
}
.companies__item a:hover,
.companies__item a:focus {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  outline: none;
}
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 500px;
  position: relative;
  left: -1px;
}
.about-us::after {
  width: 80px;
  height: 7px;
  position: absolute;
  left: 0;
  top: -49px;
  content: "";
  background-color: black;
}
.about-us__list {
  margin: 50px 0 54px -12px;
  list-style-type: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
}
.about-us__title {
  margin-bottom: 22px;
}
.about-us p {
  width: 490px;
  margin-bottom: 17px;
}
.about-us__item::before {
  position: relative;
  left: -24px;
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  content: "";
  background-image: url("../img/slider-button.png");
  background-repeat: no-repeat;
  background-position: center;
}
.about-us__button {
  width: 260px;
  margin-top: auto;
}
.about-us__button:focus {
  outline: none;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 560px;
  position: relative;
  left: -1px;
}
.contacts::after {
  width: 80px;
  height: 7px;
  position: absolute;
  left: 0;
  top: -49px;
  content: "";
  background-color: black;
}
.contacts__title {
  margin-bottom: 22px;
}
.contacts p {
  margin-bottom: 40px;
}
.contacts__map {
  margin-bottom: 40px;
}
.contacts__button {
  width: 260px;
  margin-top: auto;
}
.contacts__button:focus {
  outline: none;
}
.filters-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 328px;
  padding-left: 62px;
  background-color: #d9d9d9;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.filters {
  background-color: #ebebeb;
}
.filters__form {
  width: 328px;
  padding: 68px 68px 30px 60px;
}
.filters__form fieldset {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  border: none;
}
.filters__form legend {
  width: 200px;
  padding-top: 10px;
  border: 0px solid black;
  border-top-width: 2px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.filters__form label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}
.filters input:hover + label::before,
.filters input:focus + label::before {
  opacity: 0.6;
}
.filters input:focus + label {
  outline: auto;
}
.filters input[disabled] + label {
  color: #a6a6a6;
}
.filters input[disabled] + label::before {
  opacity: 0.25;
}
.filters__color-list,
.filters__bluetooth-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filters__cost {
  margin-bottom: 33px;
}
.filters__cost legend {
  margin-bottom: 25px;
}
.filters__range-filter {
  margin-left: -5px;
}
.filters__range-controls {
  position: relative;
  padding: 10px;
}
.filters__scale {
  width: 195px;
  height: 2px;
  background-color: #dbdbdb;
}
.filters__bar {
  width: 100%;
  height: 2px;
  position: relative;
  background-color: #91c92f;
}
.filters__toggle {
  width: 20px;
  height: 24px;
  position: absolute;
  top: 0;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.filters__toggle:active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.filters__toggle--min {
  left: 0;
}
.filters__toggle--max {
  left: 185px;
}
.filters__price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4px;
  opacity: 0.2;
}
.filters__price-controls label {
  width: 42%;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
}
.filters__price-controls input {
  width: 60px;
  background-color: transparent;
  border: none;
}
.filters__colors {
  margin-bottom: 30px;
}
.filters__colors legend {
  margin-bottom: 21px;
}
.filters__checkbox + label {
  margin-left: 38px;
  position: relative;
  cursor: pointer;
}
.filters__checkbox[disabled]:hover + label,
.filters__checkbox[disabled]:focus + label {
  cursor: default;
}
.filters__checkbox + label::before {
  position: absolute;
  left: -39px;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 23px;
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: left top;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.filters__checkbox:checked + label::before {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 23px;
  content: "";
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: left top;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.filters__bluetooth {
  margin-bottom: 30px;
}
.filters__bluetooth legend {
  margin-bottom: 18px;
}
.filters__radio + label {
  margin-left: 38px;
  position: relative;
  cursor: pointer;
}
.filters__radio + label::before {
  position: absolute;
  left: -39px;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  content: "";
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.filters__radio:hover + label::before,
.filters__radio:focus + label::before {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  content: "";
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.filters__radio[disabled]:hover + label::before,
.filters__radio[disabled]:focus + label::before {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  content: "";
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: default;
}
.filters__radio[disabled]:hover + label,
.filters__radio[disabled]:focus + label {
  cursor: default;
}
.filters__radio:checked + label::before {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  content: "";
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.filters__button {
  width: 200px;
  border: none;
  background-color: transparent;
}
.filters__button:focus {
  outline: none;
}
.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 832px;
  padding: 24px 0 24px 73px;
  background-color: #ebebeb;
}
.sorting__title {
  margin-right: 55px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.sorting a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: black;
}
.sorting__type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
}
.sorting__type-list a[href] {
  opacity: 0.3;
}
.sorting__type-list a[href]:hover,
.sorting__type-list a[href]:focus {
  opacity: 0.6;
}
.sorting__type-list a[href]:active {
  opacity: 1;
}
.sorting__type-item {
  margin-right: 28px;
}
.sorting__course-list {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sorting__course-list a[href] {
  opacity: 0.2;
}
.sorting__course-list a[href]:hover,
.sorting__course-list a[href]:focus {
  opacity: 0.4;
}
.sorting__course-list a[href]:active {
  opacity: 1;
}
.sorting__course-item {
  display: inline;
  margin-right: 15px;
}
.sorting__course-item:last-child {
  margin-right: 0;
}
.cards {
  width: 832px;
  padding: 68px 0 78px 72px;
  background-color: white;
}
.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.cards__item {
  width: 360px;
  margin-bottom: 46px;
  position: relative;
}
.cards__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 28px;
}
.cards__name {
  display: inline-block;
  vertical-align: baseline;
  width: 260px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.cards__price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}
.cards__box:hover img,
.cards__box:focus img {
  opacity: 0.7;
}
.cards__more {
  display: none;
  position: absolute;
  left: 80px;
  top: 184px;
  text-align: center;
}
.cards__img:hover + .cards__more,
.cards__img:focus + .cards__more {
  display: block;
}
.cards__box:hover .cards__more,
.cards__box:focus .cards__more,
.cards__box:focus-within .cards__more {
  display: block;
}
.cards__button {
  width: 200px;
}
.cards__button:focus {
  outline: none;
}
.cards__more:hover,
.cards__more:focus {
  display: block;
}
.cards__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 28px;
  top: 28px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.cards__compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  opacity: 0.5;
}
.cards__compare:hover,
.cards__compare:focus {
  opacity: 1;
}
.cards__compare:active {
  opacity: 0.2;
}
.cards__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -12px;
  background-color: #ebebeb;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.cards__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px 0 0 10px;
  padding: 0;
  list-style: none;
}
.cards__navigation-item {
  margin-right: 27px;
}
.cards__navigation-item:last-child {
  margin-right: 0;
}
.cards__navigation-item a[href] {
  opacity: 0.3;
}
.cards__navigation-item a[href]:hover,
.cards__navigation-item a[href]:focus {
  opacity: 0.6;
}
.cards__navigation-item a[href]:active {
  opacity: 1;
}
.cards__navigation > a:first-of-type:hover,
.cards__navigation > a:last-of-type:hover,
.cards__navigation > a:first-of-type:focus,
.cards__navigation > a:last-of-type:focus {
  background-color: #d9d9d9;
}
.cards__navigation > a:first-of-type,
.cards__navigation > a:last-of-type {
  padding: 23px 30px 23px 30px;
}
.cards__navigation:first-of-type > a,
.cards__navigation:last-of-type > a {
  opacity: 1;
}
.cards__navigation:first-of-type > a:hover,
.cards__navigation:last-of-type > a:hover,
.cards__navigation:first-of-type > a:focus,
.cards__navigation:last-of-type > a:focus {
  opacity: 1;
}
.cards__navigation:first-of-type > a:active,
.cards__navigation:last-of-type > a:active {
  opacity: 0.3;
}
.cards__navigation:first-of-type > a:not([href]),
.cards__navigation:last-of-type > a:not([href]) {
  opacity: 0.3;
  background-color: #ebebeb;
}
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.modal__close-button {
  border: 0;
  background-color: transparent;
  opacity: 0.5;
}
.modal__close-button:hover,
.modal__close-button:focus {
  opacity: 1;
}
.modal__close-button:active {
  opacity: 0.3;
}
.modal-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-wrapper--show {
  display: block;
}
.modal-contact-us {
  display: none;
  width: 960px;
  margin-left: -480px;
  margin-top: -276.5px;
  padding: 95px 100px 77px;
  overflow: hidden;
  background-color: white;
}
.modal-contact-us--show {
  display: block;
  animation-name: bounce;
  animation-duration: 1s;
}
.modal-contact-us--invalid {
  animation-name: shake;
  animation-duration: 0.6s;
}
.modal-contact-us__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.modal-contact-us__form label {
  display: block;
  margin-bottom: 7px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}
.modal-contact-us__input {
  width: 360px;
  height: 50px;
}
.modal-contact-us__textarea {
  width: 760px;
  height: 156px;
  padding-top: 15px;
  resize: none;
}
.modal-contact-us__input {
  padding: 0 20px 0 20px;
}
.modal-contact-us__textarea {
  padding: 16px 20px 16px 20px;
}
.modal-contact-us__input,
.modal-contact-us__textarea {
  background-color: #f2f2f2;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 0.4);
  border: none;
  opacity: 0.5;
}
.modal-contact-us__input:hover,
.modal-contact-us__textarea:hover {
  background-color: #eaeaea;
}
.modal-contact-us__input:focus,
.modal-contact-us__textarea:focus {
  background-color: white;
  color: black;
  opacity: 1;
  outline: 3px solid #f0c52e;
}
.modal-contact-us__input:valid,
.modal-contact-us__textarea:valid {
  color: black;
  opacity: 1;
}
.modal-contact-us__form .modal-contact-us__input--invalid,
.modal-contact-us__form .modal-contact-us__textarea--invalid,
.modal-contact-us__form .modal-contact-us__input--invalid:hover,
.modal-contact-us__form .modal-contact-us__textarea--invalid:hover,
.modal-contact-us__form .modal-contact-us__input--invalid:focus,
.modal-contact-us__form .modal-contact-us__textarea--invalid:focus {
  background-color: #f6dada;
}
.modal-contact-us__name {
  margin-right: 40px;
  margin-bottom: 32px;
}
.modal-contact-us__send-button {
  width: 200px;
  margin-top: 38px;
  border: none;
  background-color: transparent;
}
.modal-contact-us__send-button:focus {
  outline: none;
}
.modal-map {
  display: none;
  width: 960px;
  height: 560px;
  margin-left: -480px;
  margin-top: -280px;
}
.modal-map img {
  width: 100%;
}
.modal-map--show {
  display: block;
  animation-name: bounce;
  animation-duration: 1s;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}
.modal__close-button {
  position: absolute;
  top: 18px;
  right: 18px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=styles.css.map */