html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/Gilroy-Light.eot');
  src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  outline: 0;
}
body {
  margin: 0;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}
b {
  font-weight: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-family: "Gilroy Extra Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  background-image: linear-gradient(to bottom, white 8px, #f0c52e 8px, #f0c52e 16px, white 16px);
}
.button:hover,
.button:focus {
  background-image: none;
  background-color: #f0c52e;
}
.button:active {
  background-image: none;
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}
.title {
  font-family: "Gilroy Extra Bold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
}
.user-navigation,
.site-navigation__list,
.site-navigation__inner-list {
  list-style: none;
}
.user-navigation {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2;
}
.site-navigation {
  font-family: "Gilroy Extra Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.main-logo:hover,
.main-logo:focus {
  opacity: 0.6;
}
.main-logo:active {
  opacity: 0.3;
}
.modal__close-button {
  border: 0;
  background-color: transparent;
  opacity: 0.5;
}
.modal__close-button:hover,
.modal__close-button:focus {
  opacity: 1;
}
.modal__close-button:active {
  opacity: 0.3;
}
.site-header {
  background-color: rgba(240, 197, 46, 0.5);
  background-image: linear-gradient(to bottom, white 40px, rgba(240, 197, 46, 0.5) 40px);
}
.search-form {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.search-form::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  display: inline-block;
}
.search-form__field {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  outline: none;
}
.search-form__field:hover {
  color: rgba(0, 0, 0, 0.6);
}
.search-form__field:focus {
  color: black;
  border-bottom: 2px solid black;
}
.search-form__field:focus + .search-form__button {
  display: inline-block;
}
.search-form__button {
  font: inherit;
  display: none;
  background-color: transparent;
  border: 2px solid black;
  outline: none;
}
.search-form__button:hover,
.search-form__button:focus {
  background-color: black;
  color: white;
  display: inline-block;
}
.search-form__button:active {
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
}
.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}
.user-navigation a:active {
  opacity: 0.3;
}
.site-navigation__catalog::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  display: inline-block;
}
.site-navigation a:hover,
.site-navigation a:focus {
  opacity: 0.6;
}
.site-navigation a:active {
  opacity: 0.3;
}
.site-navigation__inner-list {
  display: none;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: initial;
}
.site-navigation__catalog:hover + .site-navigation__inner-list,
.site-navigation__catalog:focus + .site-navigation__inner-list {
  display: block;
}
.site-navigation__inner-list:hover,
.site-navigation__inner-list:focus {
  display: block;
}
.goods {
  margin: 0;
}
.goods__list {
  list-style-type: none;
  counter-reset: num;
  padding: 0;
}
.goods__item {
  background-color: rgba(240, 197, 46, 0.5);
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 40px, white 40px);
}
.goods__item::before {
  content: '0' counter(num);
  counter-increment: num;
  font-family: "Gilroy Extra Bold", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: black;
}
.goods th {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  font-weight: normal;
}
.goods td {
  font-family: "Girloy Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}
main {
  margin-top: -18px;
}
.categories a::before {
  content: "";
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.categories a:active::before {
  opacity: 0.5;
}
.categories a::after {
  content: "";
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  display: inline-block;
}
.categories a:hover::after,
.categories a:focus::after {
  background-color: #f0c52e;
}
.categories__list {
  list-style: none;
  font-family: "Gilroy Extra Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.categories__vr::before {
  background-image: url("../img/popular-1.svg");
}
.categories__monopods::before {
  background-image: url("../img/popular-2.svg");
}
.categories__action-cam::before {
  background-image: url("../img/popular-3.svg");
}
.categories__activity-tracker::before {
  background-image: url("../img/popular-4.svg");
}
.categories__smart-watch::before {
  background-image: url("../img/popular-5.svg");
}
.categories__multi-rotor::before {
  background-image: url("../img/popular-6.svg");
}
.services {
  background-image: linear-gradient(to bottom, white 100px, #e5e5e5 100px);
}
.services__button-list {
  list-style: none;
  font-family: "Gilroy Extra Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.services__features-list {
  list-style: none;
}
.services__button:active {
  background-color: black;
  color: #f7e184;
}
.companies__list {
  list-style: none;
}
.companies__item a {
  filter: grayscale(100%);
  opacity: 0.2;
}
.companies__item a:hover,
.companies__item a:focus {
  filter: none;
  opacity: 1;
}
.about-us__list {
  font-family: "Gilroy Extra Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
  list-style-type: circle;
}
.site-footer {
  background-color: #464646;
}
.site-footer__user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}
.site-footer__site-navigation a {
  color: white;
}
.site-footer address {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: white;
  font-style: normal;
}
.site-footer .main-logo {
  fill: #ffc600;
}
.site-footer .phone {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: white;
}
.site-footer__social-list {
  list-style: none;
}
.site-footer svg {
  fill: #ffc600;
}
.modal-contact-us__form label {
  font-family: "Gilroy Extra Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}
.modal-contact-us__form input,
.modal-contact-us__form textarea {
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
  border: none;
  outline: none;
}
.modal-contact-us__form input:hover,
.modal-contact-us__form textarea:hover {
  background-color: #eaeaea;
}
.modal-contact-us__form input:focus,
.modal-contact-us__form textarea:focus {
  background-color: white;
  outline: 3px solid #f0c52e;
}
.modal-contact-us__form textarea {
  resize: none;
}
.modal-contact-us__send-button {
  border: none;
}
/*# sourceMappingURL=styles.css.map */